@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,800&display=swap");

.section-2-header {
  margin-right: 3rem;
}

.nav {
  z-index: 999;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}
.section-1 {
  z-index: 998;
}

.canvas-wrapper {
  position: absolute;
  right: 0;
}

.hero {
  position: relative;
  background: #1d1d1b;
}

.gradient {
  z-index: 1;
  position: absolute;
  filter: blur(10px);
  background: rgb(89, 34, 112);
  background: radial-gradient(circle, rgba(89, 34, 112, 1) 0%, rgba(89, 34, 112, 1) 35%, rgba(29, 29, 27, 1) 82%);
  top: -50%;
  left: -60%;
  rotate: 45deg;
}

.gradient-2 {
  z-index: 1;
  position: absolute;
  filter: blur(10px);
  background: rgb(89, 34, 112);
  background: radial-gradient(circle, rgba(89, 34, 112, 1) 0%, rgba(89, 34, 112, 1) 35%, rgba(29, 29, 27, 1) 82%);
  bottom: -50%;
  right: -60%;
  rotate: 45deg;
}

.hero-description {
  z-index: 3;
}

.canvas-cool {
  position: absolute;
  left: 0;
  z-index: 999;
}

canvas {
  display: block;
}

.nav li:hover {
  transform: scale(1.12);
  transition: 0.1s ease;
}

/* Marquee */

.marquee {
  width: 1000%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  background-color: #1d1d1b;
  z-index: 998;
}

.marquee-2 {
  width: 1000%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  background-color: #aaff17;
  z-index: 998;
}

.marquee span {
  display: inline-block;
  padding-left: -10%;
  animation: marquee 160s linear infinite;
  overflow: hidden;
}

.marquee-2 span {
  display: inline-block;
  padding-left: -10%;
  animation: marquee 160s linear infinite;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .hero-div {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .hero-description {
    margin-top: 0;
    font-size: 3rem;
  }

  .section-1-header {
    font-size: 4rem;
  }
  .section-1-text {
    font-size: 1.5rem;
    max-width: 32rem;
  }
  .section-2-header {
    font-size: 4rem;
  }
  .section-2-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-div {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .hero-description {
    margin-top: 0;
    font-size: 3rem;
  }

  .section-1-header {
    font-size: 3rem;
  }
  .section-1-text {
    font-size: 1.2rem;
    max-width: 32rem;
  }
  .section-2-header {
    font-size: 4rem;
  }
  .section-2-text {
    font-size: 1.5rem;
  }
  .canvas-wrapper {
    display: none;
  }
  .canvas-cool {
    left: -10%;
  }
}
